<footer class="bk-footer">
	<div class="footer-section">
		<span class="cross top"></span>
		<div class="centre">
			<h2>{{widget('profile', 'headeraddress', { 'profileType': 'address' })|raw}}</h2>
		</div>
		<span class="cross bottom"></span>
	</div>
</footer>